
body{
    
    padding: 20px;
    background-color: rgb(214, 214, 214);
    
}
h3{
    text-align: center;
}
.pic1{
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: 1400px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: whitesmoke;
    
    
}
img{
    border-radius: 10px;
}

thead{
    background-color: lightblue;
}
button{
    background-color: green;
    color: white;
}
.qw{
    border-radius: 25px;
    background-color: whitesmoke;
}
.audio{
    border-radius: 25px;
    background-color: whitesmoke;
}
.royhat{
    border-radius: 25px;
    background-color: whitesmoke;
}
.uu{
    border-radius: 25px;
    background-color: whitesmoke;
}
.ee{
    border-radius: 25px;
    background-color: whitesmoke;
}
.f1f{
border-collapse: collapse;
}
table{
    border-collapse: collapse;
    width: 1200px;
    height: 90px;
}
.rt{
    border-radius: 25px;
    background-color: whitesmoke;
}
div{
    padding: 20px;
}
.yt{
    width: 100%;
    text-align: center;
    border-radius: 25px;
    background-color: whitesmoke; 

}
tbody{
    width: 800px;
    height: 120px;
}
thead{
    height: 28px
}